// Typography

$font-size-root: 16px;

$line-height: 1.5;

$font-family-sans-serif: "Source Sans Pro", sans-serif;
$font-family-monospace: Hack, monospace;
$font-family-system: system, -apple-system, ".SFNSDisplay-Regular", sans-serif;
$font-family-base: $font-family-sans-serif;
